POSTGRES_USER=
POSTGRES_PASSWORD=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
KC_BOOTSTRAP_ADMIN_USERNAME=
KC_BOOTSTRAP_ADMIN_PASSWORD=
LIVELEARN_API_CLIENT_SECRET=
POSTGRES_PORT=
KEYCLOAK_DB_NAME=